# Ignore node_modules, as they will be installed inside the container
node_modules

# Ignore build output
.next

# Ignore development database
prisma/dev.db
prisma/dev.db-journal

# Ignore environment files
.env*

# Ignore logs
*.log
